<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>

  <style>
    .login_button {
      background-color: #062ecb;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 8px 2px;
      cursor: pointer;
    }
  </style>
</head>
<body>

<h3>Администратор по умолчанию:</h3>
<h4>
  Логин: admin
  <br>
  Пароль: admin
</h4>

<a href="/login" class="login_button">Войти</a>
</body>
</html>